[Unit]
Description=Sway Idle
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    before-sleep 'lock.sh'
    timeout 120 'lock.sh' \
    timeout 600 'swaymsg "output * dpms off"' \
    resume      'swaymsg "output * dpms on"' \

[Install]
WantedBy=sway-session.target
